html,
body {
  height: 100%;
  font-family: "Outfit", serif;
}

body {
  background-color: hsl(212, 45%, 89%);

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 40px;

  gap: 24px;

  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;

  -webkit-box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.047);
  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.047);
}

.container > div {
  flex: 1 0 0;
}

.image {
  width: 288px;
  height: 288px;
}

.qr-image {
  width: 288px;
  height: 288px;
  border-radius: 10px;
}

.text-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 288px;

  text-align: center;
}

.title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  color: hsl(218, 44%, 22%);
}

.subtitle {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: 0.2px;
  color: hsl(216, 15%, 48%);
}
