:root {
  --color-white: hsl(0, 0%, 100%);
  --color-slate-300: hsl(212, 45%, 89%);
  --color-slate-500: hsl(216, 15%, 48%);
  --color-slate-900: hsl(218, 44%, 22%);

  /* * 1. 把“纯黑”的 RGB 值（不带函数）存为变量。
   * 我们叫它 --color-shadow，因为它就是用来做阴影的基色。
   */
  --color-shadow: 0, 0, 0;

  /* * 2. 把“透明度”也存为变量。
   * 我们可以定义好几个“档位”
   */
  --shadow-opacity-soft: 0.047; /* 你用的这个，非常柔和 */
  --shadow-opacity-medium: 0.1; /* 一个中等的阴影 */
  --shadow-opacity-strong: 0.2; /* 一个更强的阴影 */
}

html,
body {
  height: 100%;
  font-family: "Outfit", serif;
}

body {
  background-color: var(--color-slate-300);

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* 控制整体的最大宽度。这样子元素width设置成 100% 就可以而不需要设置固定宽度 */
  /* 内在驱动布局 (Intrinsic Layout) 的思想 */
  width: 100%;
  max-width: 320px;

  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 40px;

  gap: 24px;

  background-color: var(--color-white);
  border-radius: 20px;

  -webkit-box-shadow: 0px 25px 25px 0px
    rgba(var(--color-shadow), var(--shadow-opacity-soft));
  box-shadow: 0px 25px 25px 0px
    rgba(var(--color-shadow), var(--shadow-opacity-soft));
}

.container > * {
  flex: 1 0 0;
}

/* .image {
  width: 288px;
  height: 288px;
} */

.qr-image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.text-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
}

.title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  /* width: 256px; */
  color: var(--color-slate-900);
}

.subtitle {
  /* width: 256px; */
  font-weight: 400;
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: 0.2px;
  color: var(--color-slate-500);
}
